services:
  postgres:
    image: pgvector/pgvector:0.8.1-pg18-trixie
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    
    volumes:
      - postgres_data:/var/lib/postgresql
      
volumes:
  postgres_data: